<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ContosoLegacyBank" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=ContosoLegacyBank;Integrated Security=True;MultipleActiveResultSets=True;Connect Timeout=30" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="Contoso.LegacyBank.Accounts.ServiceHost.AccountService" behaviorConfiguration="AccountServiceBehavior">
        <host><baseAddresses><add baseAddress="http://localhost:8090/AccountService" /></baseAddresses></host>
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="AccountBasicHttp" contract="Contoso.LegacyBank.Accounts.Contracts.IAccountService" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="AccountBasicHttp" hostNameComparisonMode="Exact" maxReceivedMessageSize="1048576" openTimeout="00:00:10" closeTimeout="00:00:10" receiveTimeout="00:01:00" sendTimeout="00:01:00">
          <readerQuotas maxDepth="32" maxStringContentLength="16384" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="MetadataHttpBinding"><textMessageEncoding messageVersion="None" /><httpTransport hostNameComparisonMode="Exact" /></binding>
      </customBinding>
    </bindings>
    <behaviors><serviceBehaviors><behavior name="AccountServiceBehavior"><serviceMetadata httpGetEnabled="true" httpGetBinding="customBinding" httpGetBindingConfiguration="MetadataHttpBinding" /><serviceDebug includeExceptionDetailInFaults="false" /></behavior></serviceBehaviors></behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework"><parameters><parameter value="MSSQLLocalDB" /></parameters></defaultConnectionFactory>
    <providers><provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" /></providers>
  </entityFramework>
  <runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"><dependentAssembly><assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" /><bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" /></dependentAssembly></assemblyBinding></runtime>
</configuration>
